In [13]:
import pandas as pd
import numpy as np
house_df = pd.read_csv('./data/Ames_Housing_Price_Data.csv',index_col = 0)
real_estate_df = pd.read_csv('./data/Ames_Real_Estate_Data.csv', index_col = 0, low_memory= False).reset_index()

Notes:
Tons of multicollinearity. 

Might be a good idea to merge like columns (i.e. basement, garage, pool, fence, Kitchen, fireplace) into one. 
There are some columns which are basically exactly the same. So cut those., or again make them one

Business Intelligence for the Home Builder/Flipper: A new home builder/old house remodeler would like to get into building new homes or flipping older houses for profit. Based on your modeling result, provide insights for your client. This is a more difficult question because it is hard to estimate building costs.

Descriptive side:
- Where/when houses sold
- Differences in neighborhoods (groupby ...)
- 

This will feed in to the model below

Predictive side:
- Model predicts house prices based on several factors to indentify houses to buy, improve and sell
    - How much more is a house worth if it was newer?
    - Had a second floor, more area, pool, garage, etc.

In [64]:
df = house_df.merge(real_estate_df,how='left', left_on = 'PID', right_on = 'MapRefNo')
df = df.drop([x for x in df.columns if ('_y' in x)], axis = 1)

In [78]:
test = df[[x for x in df.columns if 'PA' in x]].iloc[0,:]

In [88]:
test

PA-Nmbr         436
PA-PreD         NaN
PA-Strt     HAYWARD
PA-StSfx        AVE
PA-PostD        NaN
PA-UnTyp        NaN
PA-UntNo        NaN
Name: 0, dtype: object

In [91]:
nmbr = test['PA-Nmbr']; street = test['PA-Strt']; Suffix = test['PA-StSfx']
address =  f'{nmbr} {street} {Suffix}, Ames, Iowa'

In [93]:
from geopy import Nominatim
from geopy.extra.rate_limiter import RateLimiter

l = locator.geocode(address)

In [97]:
l.latitude

42.01856448979592

In [63]:
locator = Nominatim(user_agent='my_geo_codes')
locator.geocode

In [182]:
house_df.Electrical.unique()

array(['SBrkr', 'FuseF', 'FuseA', 'FuseP', nan], dtype=object)

In [17]:
house_df.isna().sum()[house_df.isna().sum() > 0]

LotFrontage      462
Alley           2412
MasVnrType        14
MasVnrArea        14
BsmtQual          69
BsmtCond          69
BsmtExposure      71
BsmtFinType1      69
BsmtFinSF1         1
BsmtFinType2      70
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
Electrical         1
BsmtFullBath       2
BsmtHalfBath       2
FireplaceQu     1241
GarageType       127
GarageYrBlt      129
GarageFinish     129
GarageCars         1
GarageArea         1
GarageQual       129
GarageCond       129
PoolQC          2571
Fence           2055
MiscFeature     2483
dtype: int64

In [37]:
house_df[['Exterior1st','Exterior2nd']][house_df.Exterior1st != house_df.Exterior2nd] 
#not a lot of differences here... maybe cut one of the columns? Basically the same?

    Exterior1st Exterior2nd
8       WdShing     Wd Shng
9       HdBoard     Plywood
23      CemntBd     CmentBd
35      BrkFace     Wd Sdng
45      Wd Sdng     HdBoard
..          ...         ...
714     HdBoard     Plywood
729     WdShing     Wd Shng
741     WdShing     Wd Shng
758     HdBoard      Stucco
760     BrkFace     Wd Sdng

[381 rows x 2 columns]

In [45]:
house_df[['BsmtFinSF1','BsmtFinSF2']][house_df.BsmtFinSF1 != house_df.BsmtFinSF2] #less commonly the same. So

     BsmtFinSF1  BsmtFinSF2
1         238.0         0.0
2         552.0       393.0
3         737.0         0.0
5         643.0         0.0
9         647.0         0.0
..          ...         ...
755       890.0         0.0
757       574.0         0.0
761       284.0         0.0
762       841.0         0.0
763       380.0         0.0

[1804 rows x 2 columns]

In [46]:
house_df[['Condition1','Condition2']][house_df.Condition1 != house_df.Condition2] 
#Mostly the same. Think about dropping condition 2

    Condition1 Condition2
26        RRAn       Norm
29        PosN       Norm
31      Artery       Norm
44        RRAe       Norm
49      Artery       Norm
..         ...        ...
735     Artery       Norm
746       RRAn       Norm
752     Artery       Norm
755       RRAe       Norm
756      Feedr       Norm

[343 rows x 2 columns]

In [42]:
house_df.Neighborhood.unique() #Neighborhoods

array(['SWISU', 'Edwards', 'IDOTRR', 'OldTown', 'NWAmes', 'Blmngtn',
       'Mitchel', 'NridgHt', 'NAmes', 'CollgCr', 'SawyerW', 'MeadowV',
       'BrDale', 'Gilbert', 'Timber', 'Somerst', 'BrkSide', 'NoRidge',
       'Sawyer', 'Crawfor', 'Greens', 'ClearCr', 'GrnHill', 'StoneBr',
       'Veenker', 'NPkVill', 'Blueste', 'Landmrk'], dtype=object)

In [47]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [180]:
dumb_df = pd.get_dummies(house_df.drop(['SalePrice','LotFrontage'],axis = 1))
dumb_matrix = np.concatenate((np.ones((house_df.shape[0],1)), dumb_df.values), axis = 1)
dumb_matrix[np.isnan(dumb_matrix)] = 0

vif_vals = []
for j in range(dumb_matrix.shape[1]):
    vif_vals.append(variance_inflation_factor(dumb_matrix, j))

In [183]:
[dumb_df.columns[i-1] for i in range(len(vif_vals)) if vif_vals[i] > 5]
#Not surprising. A ton of multicollinearity

['PID',
 'GrLivArea',
 'MSSubClass',
 'YearBuilt',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'TotRmsAbvGrd',
 'Fireplaces',
 'GarageYrBlt',
 'GarageCars',
 'GarageArea',
 'PoolArea',
 'MSZoning_A (agr)',
 'MSZoning_C (all)',
 'MSZoning_FV',
 'MSZoning_I (all)',
 'MSZoning_RH',
 'MSZoning_RL',
 'MSZoning_RM',
 'Street_Grvl',
 'Street_Pave',
 'LotShape_IR1',
 'LotShape_IR2',
 'LotShape_IR3',
 'LotShape_Reg',
 'LandContour_Bnk',
 'LandContour_HLS',
 'LandContour_Low',
 'LandContour_Lvl',
 'Utilities_AllPub',
 'Utilities_NoSewr',
 'LotConfig_Corner',
 'LotConfig_CulDSac',
 'LotConfig_FR2',
 'LotConfig_FR3',
 'LotConfig_Inside',
 'LandSlope_Gtl',
 'LandSlope_Mod',
 'LandSlope_Sev',
 'Neighborhood_Blmngtn',
 'Neighborhood_Blueste',
 'Neighborhood_BrDale',
 'Neighborhood_BrkSide',
 'Neighborhood_ClearCr',
 'Neighborhood_CollgCr',
 'Neighborhood_Crawfor',
 'Neighborhood_Edwards',
 'Neighborhood_Gilbert',
 'Neighborhood_Greens',
 'Neighborhood_GrnHill',
 'Neighborhood_IDOTRR',
 'Neighborhood_Landmrk',
 'Neighborhood_MeadowV',
 'Neighborhood_Mitchel',
 'Neighborhood_NAmes',
 'Neighborhood_NPkVill',
 'Neighborhood_NWAmes',
 'Neighborhood_NoRidge',
 'Neighborhood_NridgHt',
 'Neighborhood_OldTown',
 'Neighborhood_SWISU',
 'Neighborhood_Sawyer',
 'Neighborhood_SawyerW',
 'Neighborhood_Somerst',
 'Neighborhood_StoneBr',
 'Neighborhood_Timber',
 'Neighborhood_Veenker',
 'Condition1_Artery',
 'Condition1_Feedr',
 'Condition1_Norm',
 'Condition1_PosA',
 'Condition1_PosN',
 'Condition1_RRAe',
 'Condition1_RRAn',
 'Condition1_RRNe',
 'Condition1_RRNn',
 'Condition2_Artery',
 'Condition2_Feedr',
 'Condition2_Norm',
 'Condition2_PosA',
 'Condition2_PosN',
 'Condition2_RRAe',
 'Condition2_RRAn',
 'Condition2_RRNn',
 'BldgType_1Fam',
 'BldgType_2fmCon',
 'BldgType_Duplex',
 'BldgType_Twnhs',
 'BldgType_TwnhsE',
 'HouseStyle_1.5Fin',
 'HouseStyle_1.5Unf',
 'HouseStyle_1Story',
 'HouseStyle_2.5Fin',
 'HouseStyle_2.5Unf',
 'HouseStyle_2Story',
 'HouseStyle_SFoyer',
 'HouseStyle_SLvl',
 'RoofStyle_Flat',
 'RoofStyle_Gable',
 'RoofStyle_Gambrel',
 'RoofStyle_Hip',
 'RoofStyle_Mansard',
 'RoofStyle_Shed',
 'RoofMatl_CompShg',
 'RoofMatl_Membran',
 'RoofMatl_Metal',
 'RoofMatl_Roll',
 'RoofMatl_Tar&Grv',
 'RoofMatl_WdShake',
 'RoofMatl_WdShngl',
 'Exterior1st_AsbShng',
 'Exterior1st_AsphShn',
 'Exterior1st_BrkComm',
 'Exterior1st_BrkFace',
 'Exterior1st_CBlock',
 'Exterior1st_CemntBd',
 'Exterior1st_HdBoard',
 'Exterior1st_ImStucc',
 'Exterior1st_MetalSd',
 'Exterior1st_Plywood',
 'Exterior1st_PreCast',
 'Exterior1st_Stucco',
 'Exterior1st_VinylSd',
 'Exterior1st_Wd Sdng',
 'Exterior1st_WdShing',
 'Exterior2nd_AsbShng',
 'Exterior2nd_AsphShn',
 'Exterior2nd_Brk Cmn',
 'Exterior2nd_BrkFace',
 'Exterior2nd_CBlock',
 'Exterior2nd_CmentBd',
 'Exterior2nd_HdBoard',
 'Exterior2nd_ImStucc',
 'Exterior2nd_MetalSd',
 'Exterior2nd_Plywood',
 'Exterior2nd_PreCast',
 'Exterior2nd_Stone',
 'Exterior2nd_Stucco',
 'Exterior2nd_VinylSd',
 'Exterior2nd_Wd Sdng',
 'Exterior2nd_Wd Shng',
 'MasVnrType_BrkFace',
 'MasVnrType_None',
 'MasVnrType_Stone',
 'ExterQual_Ex',
 'ExterQual_Fa',
 'ExterQual_Gd',
 'ExterQual_TA',
 'ExterCond_Ex',
 'ExterCond_Fa',
 'ExterCond_Gd',
 'ExterCond_Po',
 'ExterCond_TA',
 'Foundation_BrkTil',
 'Foundation_CBlock',
 'Foundation_PConc',
 'Foundation_Slab',
 'Foundation_Stone',
 'Foundation_Wood',
 'BsmtQual_Ex',
 'BsmtQual_Fa',
 'BsmtQual_Gd',
 'BsmtQual_Po',
 'BsmtQual_TA',
 'BsmtCond_Ex',
 'BsmtCond_Fa',
 'BsmtCond_Gd',
 'BsmtCond_Po',
 'BsmtCond_TA',
 'BsmtExposure_Av',
 'BsmtExposure_Gd',
 'BsmtExposure_Mn',
 'BsmtExposure_No',
 'BsmtFinType1_ALQ',
 'BsmtFinType1_BLQ',
 'BsmtFinType1_GLQ',
 'BsmtFinType1_LwQ',
 'BsmtFinType1_Rec',
 'BsmtFinType1_Unf',
 'BsmtFinType2_ALQ',
 'BsmtFinType2_BLQ',
 'BsmtFinType2_GLQ',
 'BsmtFinType2_LwQ',
 'BsmtFinType2_Rec',
 'BsmtFinType2_Unf',
 'Heating_Floor',
 'Heating_GasA',
 'Heating_GasW',
 'Heating_Grav',
 'Heating_OthW',
 'Heating_Wall',
 'HeatingQC_Ex',
 'HeatingQC_Fa',
 'HeatingQC_Gd',
 'HeatingQC_Po',
 'HeatingQC_TA',
 'CentralAir_N',
 'CentralAir_Y',
 'Electrical_FuseA',
 'Electrical_FuseF',
 'Electrical_FuseP',
 'Electrical_SBrkr',
 'KitchenQual_Ex',
 'KitchenQual_Fa',
 'KitchenQual_Gd',
 'KitchenQual_Po',
 'KitchenQual_TA',
 'Functional_Maj1',
 'Functional_Maj2',
 'Functional_Min1',
 'Functional_Min2',
 'Functional_Mod',
 'Functional_Sal',
 'Functional_Typ',
 'FireplaceQu_Gd',
 'FireplaceQu_TA',
 'GarageType_2Types',
 'GarageType_Attchd',
 'GarageType_Basment',
 'GarageType_BuiltIn',
 'GarageType_CarPort',
 'GarageType_Detchd',
 'GarageFinish_Fin',
 'GarageFinish_RFn',
 'GarageFinish_Unf',
 'GarageQual_Ex',
 'GarageQual_Fa',
 'GarageQual_Gd',
 'GarageQual_Po',
 'GarageQual_TA',
 'GarageCond_Ex',
 'GarageCond_Fa',
 'GarageCond_Gd',
 'GarageCond_Po',
 'GarageCond_TA',
 'PavedDrive_N',
 'PavedDrive_P',
 'PavedDrive_Y',
 'PoolQC_Fa',
 'PoolQC_Gd',
 'PoolQC_TA',
 'SaleType_COD',
 'SaleType_CWD',
 'SaleType_Con',
 'SaleType_ConLD',
 'SaleType_ConLI',
 'SaleType_ConLw',
 'SaleType_New',
 'SaleType_Oth',
 'SaleType_VWD',
 'SaleType_WD ',
 'SaleCondition_Abnorml',
 'SaleCondition_AdjLand',
 'SaleCondition_Alloca',
 'SaleCondition_Family',
 'SaleCondition_Normal',
 'SaleCondition_Partial']

In [157]:
dumb_df = pd.get_dummies(house_df.drop('LotFrontage',axis = 1))

In [174]:
dumb_df.columns[296]

'SaleCondition_Partial'

In [129]:
house_df.loc[:,'YearBuilt'] #majority of nan values
house_df.iloc[:,5]

1       NaN
2      42.0
3      60.0
4      80.0
5      70.0
       ...
759     NaN
760     NaN
761    82.0
762     NaN
763    80.0
Name: LotFrontage, Length: 2580, dtype: float64

In [141]:
range(dumb_matrix.shape[1])

range(0, 298)

In [135]:
house_df.drop('LotFrontage', axis = 1)

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotArea,Street,Alley,LotShape,LandContour,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1,909176150,856,126000,30,RL,7890,Pave,NaN,Reg,Lvl,...,166,0,NaN,NaN,NaN,0,3,2010,WD,Normal
2,905476230,1049,139500,120,RL,4235,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,2,2009,WD,Normal
3,911128020,1001,124900,30,C (all),6060,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,11,2007,WD,Normal
4,535377150,1039,114000,70,RL,8146,Pave,NaN,Reg,Lvl,...,111,0,NaN,NaN,NaN,0,5,2009,WD,Normal
5,534177230,1665,227000,60,RL,8400,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,11,2009,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,903205040,952,121000,30,RL,8854,Pave,NaN,Reg,Lvl,...,40,0,NaN,NaN,NaN,0,5,2009,WD,Normal
760,905402060,1733,139600,20,RL,13680,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,6,2009,WD,Normal
761,909275030,2002,145000,90,RH,6270,Pave,NaN,Reg,HLS,...,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal
762,907192040,1842,217500,60,RL,8826,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,7,2007,WD,Normal
763,906223180,1911,215000,60,RL,9554,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Normal