In [54]:
import pandas as pd
import numpy as np
house_df = pd.read_csv('./data/Ames_Housing_Price_Data.csv',index_col = 0)
real_estate_df = pd.read_csv('./data/Ames_Real_Estate_Data.csv', index_col = 0, low_memory= False)

Notes:
Tons of multicollinearity. 

Might be a good idea to merge like columns (i.e. basement, garage, pool, fence, Kitchen, fireplace) into one. 

There are some columns which are basically exactly the same. So cut those.

In [18]:
house_df[house_df.columns]

Index(['PID', 'GrLivArea', 'SalePrice', 'MSSubClass', 'MSZoning',
       'LotFrontage', 'LotArea', 'Street', 'Alley', 'LotShape', 'LandContour',
       'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1',
       'Condition2', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond',
       'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1',
       'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF',
       '2ndFlrSF', 'LowQualFinSF', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [17]:
house_df.isna().sum()[house_df.isna().sum() > 0]

LotFrontage      462
Alley           2412
MasVnrType        14
MasVnrArea        14
BsmtQual          69
BsmtCond          69
BsmtExposure      71
BsmtFinType1      69
BsmtFinSF1         1
BsmtFinType2      70
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
Electrical         1
BsmtFullBath       2
BsmtHalfBath       2
FireplaceQu     1241
GarageType       127
GarageYrBlt      129
GarageFinish     129
GarageCars         1
GarageArea         1
GarageQual       129
GarageCond       129
PoolQC          2571
Fence           2055
MiscFeature     2483
dtype: int64

In [37]:
house_df[['Exterior1st','Exterior2nd']][house_df.Exterior1st != house_df.Exterior2nd] 
#not a lot of differences here... maybe cut one of the columns? Basically the same?

    Exterior1st Exterior2nd
8       WdShing     Wd Shng
9       HdBoard     Plywood
23      CemntBd     CmentBd
35      BrkFace     Wd Sdng
45      Wd Sdng     HdBoard
..          ...         ...
714     HdBoard     Plywood
729     WdShing     Wd Shng
741     WdShing     Wd Shng
758     HdBoard      Stucco
760     BrkFace     Wd Sdng

[381 rows x 2 columns]

In [45]:
house_df[['BsmtFinSF1','BsmtFinSF2']][house_df.BsmtFinSF1 != house_df.BsmtFinSF2] #less commonly the same. So

     BsmtFinSF1  BsmtFinSF2
1         238.0         0.0
2         552.0       393.0
3         737.0         0.0
5         643.0         0.0
9         647.0         0.0
..          ...         ...
755       890.0         0.0
757       574.0         0.0
761       284.0         0.0
762       841.0         0.0
763       380.0         0.0

[1804 rows x 2 columns]

In [46]:
house_df[['Condition1','Condition2']][house_df.Condition1 != house_df.Condition2] 
#Mostly the same. Think about dropping condition 2

    Condition1 Condition2
26        RRAn       Norm
29        PosN       Norm
31      Artery       Norm
44        RRAe       Norm
49      Artery       Norm
..         ...        ...
735     Artery       Norm
746       RRAn       Norm
752     Artery       Norm
755       RRAe       Norm
756      Feedr       Norm

[343 rows x 2 columns]

In [42]:
house_df.Neighborhood.unique() #Neighborhoods

array(['SWISU', 'Edwards', 'IDOTRR', 'OldTown', 'NWAmes', 'Blmngtn',
       'Mitchel', 'NridgHt', 'NAmes', 'CollgCr', 'SawyerW', 'MeadowV',
       'BrDale', 'Gilbert', 'Timber', 'Somerst', 'BrkSide', 'NoRidge',
       'Sawyer', 'Crawfor', 'Greens', 'ClearCr', 'GrnHill', 'StoneBr',
       'Veenker', 'NPkVill', 'Blueste', 'Landmrk'], dtype=object)

In [47]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [142]:
dumb_df = pd.get_dummies(house_df.drop('LotFrontage',axis = 1))
dumb_matrix = np.concatenate((np.ones((house_df.shape[0],1)), dumb_df.values), axis = 1)
dumb_matrix[np.isnan(dumb_matrix)] = 0

vif_vals = []
for j in range(dumb_matrix.shape[1]):
    vif_vals.append(variance_inflation_factor(dumb_matrix, j))

c:\users\michael\appdata\local\programs\python\python38-32\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

In [176]:
[dumb_df.columns[i-1] for i in range(len(vif_vals)) if vif_vals[i] > 500]
#Not surprising. Just a ton of multicollinearity

['GrLivArea',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GarageYrBlt',
 'MSZoning_A (agr)',
 'MSZoning_C (all)',
 'MSZoning_FV',
 'MSZoning_I (all)',
 'MSZoning_RH',
 'MSZoning_RL',
 'MSZoning_RM',
 'Street_Grvl',
 'Street_Pave',
 'LotShape_IR1',
 'LotShape_IR2',
 'LotShape_IR3',
 'LotShape_Reg',
 'LandContour_Bnk',
 'LandContour_HLS',
 'LandContour_Low',
 'LandContour_Lvl',
 'Utilities_AllPub',
 'Utilities_NoSewr',
 'LotConfig_Corner',
 'LotConfig_CulDSac',
 'LotConfig_FR2',
 'LotConfig_FR3',
 'LotConfig_Inside',
 'LandSlope_Gtl',
 'LandSlope_Mod',
 'LandSlope_Sev',
 'Neighborhood_Blmngtn',
 'Neighborhood_Blueste',
 'Neighborhood_BrDale',
 'Neighborhood_BrkSide',
 'Neighborhood_ClearCr',
 'Neighborhood_CollgCr',
 'Neighborhood_Crawfor',
 'Neighborhood_Edwards',
 'Neighborhood_Gilbert',
 'Neighborhood_Greens',
 'Neighborhood_GrnHill',
 'Neighborhood_IDOTRR',
 'Neighborhood_Landmrk',
 'Neighborhood_MeadowV',
 'Neighborhood_Mitchel',
 'Neighborhood_NAmes',
 'Neighborhood_NPkVill',
 'Neighborhood_NWAmes',
 'Neighborhood_NoRidge',
 'Neighborhood_NridgHt',
 'Neighborhood_OldTown',
 'Neighborhood_SWISU',
 'Neighborhood_Sawyer',
 'Neighborhood_SawyerW',
 'Neighborhood_Somerst',
 'Neighborhood_StoneBr',
 'Neighborhood_Timber',
 'Neighborhood_Veenker',
 'Condition1_Artery',
 'Condition1_Feedr',
 'Condition1_Norm',
 'Condition1_PosA',
 'Condition1_PosN',
 'Condition1_RRAe',
 'Condition1_RRAn',
 'Condition1_RRNe',
 'Condition1_RRNn',
 'Condition2_Artery',
 'Condition2_Feedr',
 'Condition2_Norm',
 'Condition2_PosA',
 'Condition2_PosN',
 'Condition2_RRAe',
 'Condition2_RRAn',
 'Condition2_RRNn',
 'BldgType_1Fam',
 'BldgType_2fmCon',
 'BldgType_Duplex',
 'BldgType_Twnhs',
 'BldgType_TwnhsE',
 'HouseStyle_1.5Fin',
 'HouseStyle_1.5Unf',
 'HouseStyle_1Story',
 'HouseStyle_2.5Fin',
 'HouseStyle_2.5Unf',
 'HouseStyle_2Story',
 'HouseStyle_SFoyer',
 'HouseStyle_SLvl',
 'RoofStyle_Flat',
 'RoofStyle_Gable',
 'RoofStyle_Gambrel',
 'RoofStyle_Hip',
 'RoofStyle_Mansard',
 'RoofStyle_Shed',
 'RoofMatl_CompShg',
 'RoofMatl_Membran',
 'RoofMatl_Metal',
 'RoofMatl_Roll',
 'RoofMatl_Tar&Grv',
 'RoofMatl_WdShake',
 'RoofMatl_WdShngl',
 'Exterior1st_AsbShng',
 'Exterior1st_AsphShn',
 'Exterior1st_BrkComm',
 'Exterior1st_BrkFace',
 'Exterior1st_CBlock',
 'Exterior1st_CemntBd',
 'Exterior1st_HdBoard',
 'Exterior1st_ImStucc',
 'Exterior1st_MetalSd',
 'Exterior1st_Plywood',
 'Exterior1st_PreCast',
 'Exterior1st_Stucco',
 'Exterior1st_VinylSd',
 'Exterior1st_Wd Sdng',
 'Exterior1st_WdShing',
 'Exterior2nd_AsbShng',
 'Exterior2nd_AsphShn',
 'Exterior2nd_Brk Cmn',
 'Exterior2nd_BrkFace',
 'Exterior2nd_CBlock',
 'Exterior2nd_CmentBd',
 'Exterior2nd_HdBoard',
 'Exterior2nd_ImStucc',
 'Exterior2nd_MetalSd',
 'Exterior2nd_Plywood',
 'Exterior2nd_PreCast',
 'Exterior2nd_Stone',
 'Exterior2nd_Stucco',
 'Exterior2nd_VinylSd',
 'Exterior2nd_Wd Sdng',
 'Exterior2nd_Wd Shng',
 'ExterQual_Ex',
 'ExterQual_Fa',
 'ExterQual_Gd',
 'ExterQual_TA',
 'ExterCond_Ex',
 'ExterCond_Fa',
 'ExterCond_Gd',
 'ExterCond_Po',
 'ExterCond_TA',
 'Foundation_BrkTil',
 'Foundation_CBlock',
 'Foundation_PConc',
 'Foundation_Slab',
 'Foundation_Stone',
 'Foundation_Wood',
 'BsmtQual_Ex',
 'BsmtQual_Fa',
 'BsmtQual_Gd',
 'BsmtQual_Po',
 'BsmtQual_TA',
 'BsmtCond_Ex',
 'BsmtCond_Fa',
 'BsmtCond_Gd',
 'BsmtCond_Po',
 'BsmtCond_TA',
 'BsmtFinType1_ALQ',
 'BsmtFinType1_BLQ',
 'BsmtFinType1_GLQ',
 'BsmtFinType1_LwQ',
 'BsmtFinType1_Rec',
 'BsmtFinType1_Unf',
 'Heating_Floor',
 'Heating_GasA',
 'Heating_GasW',
 'Heating_Grav',
 'Heating_OthW',
 'Heating_Wall',
 'HeatingQC_Ex',
 'HeatingQC_Fa',
 'HeatingQC_Gd',
 'HeatingQC_Po',
 'HeatingQC_TA',
 'CentralAir_N',
 'CentralAir_Y',
 'KitchenQual_Ex',
 'KitchenQual_Fa',
 'KitchenQual_Gd',
 'KitchenQual_Po',
 'KitchenQual_TA',
 'Functional_Maj1',
 'Functional_Maj2',
 'Functional_Min1',
 'Functional_Min2',
 'Functional_Mod',
 'Functional_Sal',
 'Functional_Typ',
 'GarageFinish_Fin',
 'GarageFinish_RFn',
 'GarageFinish_Unf',
 'GarageQual_Ex',
 'GarageQual_Fa',
 'GarageQual_Gd',
 'GarageQual_Po',
 'GarageQual_TA',
 'GarageCond_Ex',
 'GarageCond_Fa',
 'GarageCond_Gd',
 'GarageCond_Po',
 'GarageCond_TA',
 'PavedDrive_N',
 'PavedDrive_P',
 'PavedDrive_Y',
 'SaleType_COD',
 'SaleType_CWD',
 'SaleType_Con',
 'SaleType_ConLD',
 'SaleType_ConLI',
 'SaleType_ConLw',
 'SaleType_New',
 'SaleType_Oth',
 'SaleType_VWD',
 'SaleType_WD ',
 'SaleCondition_Abnorml',
 'SaleCondition_AdjLand',
 'SaleCondition_Alloca',
 'SaleCondition_Family',
 'SaleCondition_Normal',
 'SaleCondition_Partial']

In [157]:
dumb_df = pd.get_dummies(house_df.drop('LotFrontage',axis = 1))

In [174]:
dumb_df.columns[296]

'SaleCondition_Partial'

In [129]:
house_df.loc[:,'YearBuilt'] #majority of nan values
house_df.iloc[:,5]

1       NaN
2      42.0
3      60.0
4      80.0
5      70.0
       ...
759     NaN
760     NaN
761    82.0
762     NaN
763    80.0
Name: LotFrontage, Length: 2580, dtype: float64

In [141]:
range(dumb_matrix.shape[1])

range(0, 298)

In [117]:
np.where(np.isnan(dumb_matrix))

(array([   0,   13,   17,   18,   22,   27,   28,   38,   40,   43,   44,
          48,   50,   54,   59,   60,   62,   66,   83,   86,   93,   94,
         104,  105,  106,  107,  109,  117,  120,  123,  131,  160,  163,
         165,  166,  175,  182,  187,  189,  195,  198,  209,  209,  219,
         227,  228,  229,  231,  236,  239,  249,  256,  275,  279,  285,
         288,  294,  305,  306,  308,  322,  324,  327,  336,  337,  339,
         346,  358,  359,  360,  362,  364,  369,  370,  372,  379,  389,
         393,  394,  395,  397,  399,  411,  412,  413,  424,  429,  431,
         433,  433,  433,  445,  447,  461,  465,  466,  468,  469,  470,
         471,  472,  482,  498,  509,  515,  516,  524,  528,  528,  529,
         530,  531,  533,  537,  540,  541,  542,  544,  549,  551,  556,
         557,  558,  565,  566,  568,  572,  576,  580,  587,  599,  604,
         613,  621,  624,  627,  635,  636,  642,  645,  650,  652,  653,
         654,  656,  662,  664,  668,  669,  671,  678,  683,  695,  702,
         704,  706,  707,  709,  712,  715,  716,  718,  730,  741,  748,
         751,  753,  760,  768,  770,  780,  787,  787,  790,  791,  793,
         796,  816,  827,  829,  840,  842,  844,  851,  857,  859,  862,
         864,  871,  872,  874,  877,  881,  890,  891,  891,  902,  903,
         905,  909,  910,  912,  912,  912,  912,  912,  912,  913,  917,
         920,  921,  925,  929,  936,  938,  947,  949,  951,  954,  956,
         963,  965,  972,  973,  982,  986,  993,  995,  997,  999, 1008,
        1011, 1018, 1019, 1020, 1024, 1031, 1032, 1034, 1035, 1041, 1044,
        1049, 1051, 1059, 1060, 1068, 1072, 1074, 1080, 1082, 1087, 1094,
        1099, 1100, 1108, 1116, 1118, 1120, 1121, 1122, 1124, 1131, 1133,
        1148, 1150, 1150, 1152, 1159, 1160, 1161, 1161, 1167, 1173, 1174,
        1182, 1187, 1190, 1197, 1204, 1210, 1211, 1215, 1220, 1226, 1228,
        1233, 1233, 1242, 1251, 1252, 1263, 1270, 1271, 1279, 1280, 1282,
        1286, 1289, 1295, 1303, 1306, 1308, 1309, 1311, 1314, 1316, 1320,
        1322, 1323, 1331, 1332, 1343, 1344, 1345, 1353, 1355, 1361, 1365,
        1372, 1375, 1376, 1377, 1380, 1384, 1386, 1393, 1399, 1400, 1401,
        1404, 1405, 1407, 1410, 1414, 1421, 1426, 1428, 1431, 1431, 1439,
        1445, 1448, 1457, 1460, 1463, 1466, 1468, 1469, 1472, 1476, 1482,
        1485, 1486, 1489, 1491, 1492, 1495, 1496, 1497, 1498, 1503, 1507,
        1509, 1511, 1512, 1516, 1523, 1531, 1535, 1536, 1543, 1549, 1553,
        1554, 1560, 1565, 1573, 1575, 1577, 1586, 1593, 1608, 1618, 1625,
        1627, 1634, 1635, 1641, 1654, 1654, 1657, 1660, 1663, 1667, 1674,
        1676, 1678, 1688, 1689, 1690, 1699, 1700, 1708, 1716, 1718, 1720,
        1722, 1723, 1726, 1727, 1730, 1732, 1735, 1737, 1743, 1745, 1747,
        1748, 1751, 1754, 1754, 1756, 1760, 1762, 1769, 1777, 1786, 1791,
        1792, 1796, 1812, 1813, 1821, 1823, 1828, 1829, 1831, 1836, 1841,
        1855, 1859, 1862, 1869, 1870, 1873, 1874, 1875, 1878, 1883, 1885,
        1887, 1892, 1901, 1910, 1916, 1920, 1921, 1924, 1927, 1937, 1940,
        1942, 1943, 1949, 1953, 1960, 1965, 1971, 1976, 1980, 1981, 1984,
        1985, 1988, 1993, 2003, 2007, 2015, 2016, 2017, 2017, 2019, 2030,
        2033, 2033, 2036, 2058, 2064, 2068, 2075, 2081, 2083, 2085, 2086,
        2089, 2099, 2103, 2106, 2107, 2110, 2113, 2116, 2119, 2121, 2127,
        2132, 2150, 2161, 2172, 2173, 2192, 2193, 2202, 2204, 2217, 2222,
        2225, 2229, 2230, 2231, 2232, 2238, 2240, 2242, 2244, 2244, 2245,
        2248, 2251, 2265, 2266, 2270, 2273, 2276, 2279, 2280, 2294, 2302,
        2307, 2308, 2308, 2316, 2320, 2322, 2326, 2327, 2329, 2336, 2340,
        2357, 2358, 2359, 2360, 2361, 2371, 2378, 2379, 2382, 2388, 2392,
        2393, 2396, 2399, 2403, 2404, 2408, 2418, 2422, 2425, 2428, 2437,
        2448, 2449, 2451, 2454, 2458, 2461, 2464, 2465, 2469, 2474, 2477,
        2477, 2481, 2487, 2488, 2492, 2494, 2497, 2500, 2503, 2504, 2507,
        2509, 2513, 2515, 2517, 2518, 2519, 2520, 2526, 2534, 2536, 2536,
        2539, 2540, 2542, 2546, 2554, 2561, 2563, 2575, 2576, 2578],
       dtype=int32),
 array([ 5,  5, 27,  5, 27,  5,  5,  5,  5,  5, 27, 27, 27, 27,  5, 27,  5,
         5,  5,  5, 27,  5,  5,  5, 27, 27,  5,  5,  5, 27,  5,  5,  5,  5,
        27, 11,  5,  5,  5,  5,  5,  5, 27, 27, 27,  5,  5,  5,  5, 27,  5,
         5,  5, 27,  5,  5, 27,  5,  5,  5,  5,  5,  5, 27,  5,  5,  5, 11,
         5,  5,  5,  5,  5,  5, 27,  5,  5,  5,  5,  5,  5, 27,  5,  5,  5,
         5, 27,  5, 27, 28, 29,  5,  5,  5,  5,  5,  5, 27, 27,  5,  5, 27,
         5,  5, 27, 27,  5,  5, 27,  5,  5, 27,  5,  5,  5,  5,  5,  5,  5,
        27, 27,  5, 27, 27,  5,  5,  5,  5, 27,  5,  5, 27, 27,  5,  5,  5,
         5,  5,  5,  5,  5,  5,  5, 27,  5,  5,  5,  5,  5,  5,  5,  5,  5,
         5,  5,  5,  5,  5,  5, 27, 27, 27,  5,  5,  5,  5, 11,  5, 27, 27,
         5,  5, 11,  5,  5,  5,  5,  5,  5, 27,  5, 27,  5,  5,  5,  5,  5,
         5, 11,  5,  5,  5,  5,  5,  5, 11,  5,  5,  5,  5,  5, 12, 13, 14,
        15, 19, 20,  5, 27,  5,  5,  5,  5,  5,  5,  5,  5, 11,  5,  5,  5,
         5,  5,  5, 27,  5,  5,  5, 27,  5,  5, 27,  5,  5,  5,  5,  5,  5,
         5,  5, 11,  5,  5,  5,  5,  5,  5,  5,  5, 27,  5,  5,  5,  5,  5,
         5, 27,  5, 27,  5,  5,  5,  5,  5, 27,  5, 27,  5,  5,  5,  5, 11,
         5, 27,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5, 27,  5,
         5,  5,  5,  5,  5, 27,  5, 27,  5, 27,  5,  5,  5,  5,  5,  5,  5,
         5,  5, 27,  5,  5,  5,  5,  5,  5,  5, 11,  5,  5,  5,  5,  5,  5,
         5,  5,  5, 27,  5,  5,  5,  5,  5, 27, 27, 27,  5,  5, 27,  5, 27,
         5,  5, 27,  5,  5,  5,  5,  5, 27,  5,  5,  5,  5,  5,  5,  5,  5,
         5,  5,  5,  5,  5,  5,  5, 27,  5,  5, 27,  5,  5,  5, 27, 27, 11,
         5,  5,  5,  5,  5,  5,  5,  5, 27,  5,  5, 27,  5,  5,  5,  5, 27,
         5,  5,  5,  5,  5,  5,  5,  5, 27,  5, 27,  5,  5, 27, 27, 27,  5,
         5,  5,  5,  5,  5,  5,  5, 27,  5, 27,  5, 27,  5, 27,  5,  5,  5,
         5,  5,  5,  5,  5,  5,  5, 27,  5, 27,  5, 27, 27,  5, 27,  5, 27,
         5,  5, 27, 27,  5,  5,  5, 27,  5,  5,  5,  5, 27,  5,  5, 27,  5,
         5, 27,  5, 27,  5,  5,  5,  5,  5,  5,  5,  5, 27,  5,  5,  5,  5,
        27,  5,  5,  5,  5, 27,  5,  5, 11, 27, 27,  5,  5,  5,  5,  5,  5,
        27,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5, 27,  5,  5,  5,
         5,  5,  5, 27, 27,  5,  5,  5,  5, 27,  5,  5,  5,  5,  5,  5, 27,
         5,  5, 27,  5,  5,  5, 27,  5, 27, 27,  5, 27, 27, 19, 20,  5,  5,
        27,  5,  5, 27,  5,  5,  5,  5,  5,  5,  5, 27,  5,  5,  5,  5,  5,
         5, 27,  5,  5,  5,  5,  5,  5, 27, 27,  5, 27,  5,  5, 27,  5,  5,
        27, 27,  5,  5,  5, 11, 27,  5, 27,  5,  5,  5,  5,  5,  5,  5,  5,
        27,  5,  5,  5,  5,  5,  5,  5,  5, 11,  5, 27,  5, 27,  5,  5,  5,
         5,  5,  5], dtype=int32))

In [135]:
house_df.drop('LotFrontage', axis = 1)

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotArea,Street,Alley,LotShape,LandContour,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1,909176150,856,126000,30,RL,7890,Pave,NaN,Reg,Lvl,...,166,0,NaN,NaN,NaN,0,3,2010,WD,Normal
2,905476230,1049,139500,120,RL,4235,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,2,2009,WD,Normal
3,911128020,1001,124900,30,C (all),6060,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,11,2007,WD,Normal
4,535377150,1039,114000,70,RL,8146,Pave,NaN,Reg,Lvl,...,111,0,NaN,NaN,NaN,0,5,2009,WD,Normal
5,534177230,1665,227000,60,RL,8400,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,11,2009,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,903205040,952,121000,30,RL,8854,Pave,NaN,Reg,Lvl,...,40,0,NaN,NaN,NaN,0,5,2009,WD,Normal
760,905402060,1733,139600,20,RL,13680,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,6,2009,WD,Normal
761,909275030,2002,145000,90,RH,6270,Pave,NaN,Reg,HLS,...,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal
762,907192040,1842,217500,60,RL,8826,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,7,2007,WD,Normal
763,906223180,1911,215000,60,RL,9554,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Normal