In [3]:
import pandas as pd

house_df = pd.read_csv('./data/Ames_Housing_Price_Data.csv',index_col = 0)
real_estate_df = pd.read_csv('./data/Ames_Real_Estate_Data.csv', index_col = 0, low_memory= False)

In [11]:
house_df.head()

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1,909176150,856,126000,30,RL,NaN,7890,Pave,NaN,Reg,...,166,0,NaN,NaN,NaN,0,3,2010,WD,Normal
2,905476230,1049,139500,120,RL,42.0,4235,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,2,2009,WD,Normal
3,911128020,1001,124900,30,C (all),60.0,6060,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,11,2007,WD,Normal
4,535377150,1039,114000,70,RL,80.0,8146,Pave,NaN,Reg,...,111,0,NaN,NaN,NaN,0,5,2009,WD,Normal
5,534177230,1665,227000,60,RL,70.0,8400,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,11,2009,WD,Normal

In [13]:
house_df[~house_df.PoolQC.isna()] #poolqc is pool quality (note pool area always > 0)

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
66,528164060,2470,615000,20,RL,106.0,12720,Pave,NaN,Reg,...,216,144,Ex,NaN,NaN,0,2,2008,WD,Normal
488,532476050,2646,260000,80,RL,100.0,14330,Pave,NaN,IR1,...,0,800,Gd,GdPrv,NaN,0,1,2006,WD,Normal
596,527356020,2784,250000,60,RL,80.0,16692,Pave,NaN,IR1,...,440,519,Fa,MnPrv,TenC,2000,7,2006,WD,Normal
180,906200230,1822,228500,50,RL,104.0,23920,Pave,NaN,Reg,...,0,444,TA,NaN,NaN,0,4,2007,WD,Normal
418,527377030,1309,181000,20,RL,78.0,10140,Pave,NaN,Reg,...,0,648,Fa,GdPrv,NaN,0,1,2006,WD,Normal
669,909475230,2726,315000,20,RL,70.0,18044,Pave,NaN,IR1,...,0,228,Ex,NaN,NaN,0,8,2007,WD,Normal
192,923202220,2034,130000,20,RL,200.0,43500,Pave,NaN,Reg,...,0,561,TA,GdPrv,NaN,0,6,2007,WD,Normal
608,914475020,1118,171000,80,RL,76.0,9880,Pave,NaN,Reg,...,0,576,Gd,GdPrv,NaN,0,7,2008,WD,Normal
657,535353050,1647,153000,20,RL,75.0,9532,Pave,NaN,Reg,...,0,368,TA,GdPrv,NaN,0,2,2007,WD,Normal

In [17]:
#Na Areas
house_df.isna().sum()[house_df.isna().sum() > 0]

#For all of the quality things can we merge with a linear regression. So how much does the price extra quality / w/e add to the total size.
#It can just be an additition to one value. So one column for basement. One for garage, etc.

LotFrontage      462
Alley           2412
MasVnrType        14
MasVnrArea        14
BsmtQual          69
BsmtCond          69
BsmtExposure      71
BsmtFinType1      69
BsmtFinSF1         1
BsmtFinType2      70
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
Electrical         1
BsmtFullBath       2
BsmtHalfBath       2
FireplaceQu     1241
GarageType       127
GarageYrBlt      129
GarageFinish     129
GarageCars         1
GarageArea         1
GarageQual       129
GarageCond       129
PoolQC          2571
Fence           2055
MiscFeature     2483
dtype: int64